
.cart-container{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 0 20px 20px;
    position: relative;

}

.cart-info-container, .cart-info-container-2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin: 40px auto;
}

.cart-info-container-2{
    align-items: center;
}

button {
    width: fit-content;
    padding: 10px 20px;
    font-size: 1.5rem;
}

.total-price{
    font-weight: bold;
    font-size: 2.5rem;
}

.empty-cart{
    font-size: 2rem;
    font-weight: bold;
    margin: 40px 0;
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    
}

<<<<<<< HEAD
.btn-continue{
    padding: 10px 20px;
    font-size: 1.5rem;
    background: #fff;
    color: #141a3a;
}

.btn-continue:hover{
    background: #b6b6b6;
    color: #141a3a;
}

=======
>>>>>>> 7041a4d4ebbc1c06b4a9c2ca258bdf6f4ff32a63
.cart-info-final{
    display: flex;
    flex-direction: column;
    align-items: center;
<<<<<<< HEAD
    width: 100%;
=======
    width: 400px;
>>>>>>> 7041a4d4ebbc1c06b4a9c2ca258bdf6f4ff32a63
    gap: 20px;
    margin: 40px auto;
}