.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    margin: 40px 0;
}

.input-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input{
    padding: 10px 0 10px 10px;
    width: 400px;
    border-radius: 5px;
    color: #000;
    border: none;
}

.btn-order{
    transition: .2s all;
}