*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
}

.cart-widget-text{
    color: #fff;
}

.cart-widget{
    display: flex;
    align-items: center;
    gap: 10px;
}
