.itemContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 100%;
    margin: 100px 0;
    justify-items: center;
    
}

.itemListContainer{
    justify-content: center;
    display: flex;
    width: 100%;
}