.itemContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
<<<<<<< HEAD
    gap: 20px;
=======
    gap: 10px;
>>>>>>> 7041a4d4ebbc1c06b4a9c2ca258bdf6f4ff32a63
    width: 100%;
    margin: 100px 0;
    justify-items: center;
    
}

.itemListContainer{
    justify-content: center;
    display: flex;
    width: 100%;
}