.item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    height: 500px;
    box-shadow:  0 0 5px #0006;
    border-radius: 20px;
    padding: 20px;
    justify-content: space-between;
<<<<<<< HEAD
    background: #fff;
=======
    background-color: #fff;
>>>>>>> 7041a4d4ebbc1c06b4a9c2ca258bdf6f4ff32a63
}

.img-card-container{
    display: flex;
    justify-content: center;
}

.info-card-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.item-link{
    font-weight: bold;
    text-decoration: none;
    padding: 20px 40px;
    background-color: #141a3a;
    border-radius: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
}

img{
    width: 200px;
    height: 150px;
}

<<<<<<< HEAD
.item p, .item h2{
=======
.item p{
>>>>>>> 7041a4d4ebbc1c06b4a9c2ca258bdf6f4ff32a63
    color: #000;
}