.item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    height: 500px;
    box-shadow:  0 0 5px #0006;
    border-radius: 20px;
    padding: 20px;
    justify-content: space-between;
}

.img-card-container{
    display: flex;
    justify-content: center;
}

.info-card-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.item-link{
    font-weight: bold;
    text-decoration: none;
    padding: 20px 40px;
    background-color: #fff;
    border-radius: 10px;
    color: #000;
    display: flex;
    justify-content: center;
}

img{
    width: 200px;
    height: 150px;
}