.not-found{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    margin: 40px auto;
    font-size: 1.6rem;
}

.not-found h2{
    font-size: 3rem;
}

.btn-volver{
    padding: 10px 20px;
    font-size: 1.5rem;
    background: #fff;
    color: #141a3a;
    border-radius: 5px;
    transition: .2s all;
}

.btn-volver:hover{
    background: #b6b6b6;
    color: #141a3a;
}