.count-product{
    display: flex;
    width: 170px;
    align-items: center;
    font-size: 40px;
    justify-content: space-between;
}

button{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    font-size: 40px;
    border-radius: 5px;
}

.count-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.btn-carrito-details{
    padding: 40px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    width: fit-content;
    border-radius: 5px;
}
.btn-carrito-details:hover, button:hover {
    background-color: #333;
}